*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

.img1 {
    width:3vw;
    height:5vh;
}

.nav-and-header {
    display:flex;
    justify-content: space-between;
    flex-direction: row;
}

.div1 {
    display:flex;
    flex-direction: row;
    gap:2vw;
}